*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-size: 100%;
}
body{
    background-color: #111111;
    justify-content: center;
    align-content: center;
}
/*
h1{
    color: ghostwhite;
    text-transform: uppercase;
}
h2{
    color: #fff8f0;
    margin-bottom: 15px;
}
p{
    color: #fff5e8;
}
h3{
    color: #dcdcdc;
    font-weight: 100;
    font-size: .7rem;
}
 .carnet{
    margin-top: 5%;
 width: max-content;
 height: fit-content;
 display: flex;
 padding: 5px;
 border: #fff5e8 1px dashed;
 border-radius: 8px;
}
img{
    margin: .5rem;
    width: auto;
    height: 150px;
}
.txt{
    padding-right: 2rem;
    padding-top: 1rem;
}
.ext{
    color: #fad0bf;
    font-size: 2rem;
    text-transform: uppercase;
}
.arg{
    color: #a2fff3;
    font-size: 2rem;
    text-transform: uppercase;
}
.men::after{
    content: 'MENOR';   
    font-weight: 100;
    padding: 2px;
    font-size: .9rem;
    margin-left: 1rem;
    color: black;
    background-color: rgb(255, 234, 166);
}
.may::after{
    content: 'MAYOR';
    font-weight: 100;
    padding: 2px;
    font-size: .9rem;
    margin-left: 1rem;
    color: black;
    background-color: rgb(213, 255, 166);
} */
h1{

}
h2{
}
h3{

}
p{
    font-size: 1rem;
    color: #fff8f0;
    font-weight: 500;
}
.factura{
    background-color: #fff8f0;
    padding: 5px;
    margin:auto;
    width: 60vw;
    max-height: 70%;
    border: solid #111111 1px;
    
}
.sub{
    font-size: .9rem;
    color: #d4d4d4;
    font-weight: 100;

}
.main{

}